.ol-style {
    list-style-type: none;
}
.list-conteiner {
    display: flex;
    justify-content: center;
    width: 100%; 
}
.border-style {
    border: 2px solid;
    display: inline-block;
    padding: 10px;
}
.li-style {
    display: flex;
    justify-content: center;
}
